body{
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
	background: #2980b9;
	color: white;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}
.fa-plus{
	float: right;
}
span{
	background: #e74c3c;
	height: 40px;
	width: 0;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	color: white;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span{
	width: 40px;
	opacity: 1.0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	align: center;
}
li:nth-child(2n)
{
	background: #f7f7f7;
}
input{
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	margin: 0 auto;
	width: 100%;
	color: #2980b9;
	background: #f7f7f7;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
	background: #fff;
	border:3px solid #2980b9;
	outline: none;
}
#container{
	background: #f7f7f7;
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.list{
	color: gray;
	text-decoration: line-through;
}